.header__navbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__nav {
  background-color: var(--main-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__hero {
  background-image: url(../img/background_header.png);
  background-size: cover;
  background-position: 40% 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 20px 60px 20px;
}
.header__title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 3.875rem;
  font-weight: 700;
}
.header__title-accent {
  color: var(--accent-color);
}

.header__subtitle {
  color: var(--text-color);
  font-size: 1.125rem;
  font-weight: 400;
  margin: 35px 0;
}
.header__logo {
  width: 100px;
}
.header__menu-iteam {
  color: white !important;
}
.header__menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.header__menu .menu-link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-botton-color);
}
.header__menu .menu-link:hover {
  color: var(--text-botton-active-color);
}
.header-contact {
  display: none;
  background-color: rgba(25, 135, 84, 1);
  padding: 20px 40px;
}
.header-call-us {
  color: var(--text-botton-color);
}
.header-call-us-link {
  text-decoration: none;
  color: var(--text-botton-color);
}
.header-social-link {
  text-decoration: none;
}
 
@media (min-width: 768px) {
  .header__hero {
    padding: 100px 20px 40px 100px;
  }
}
@media (min-width: 1024px) {
  .header-contact {
    align-items: center;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    flex-direction: row;
  }
}

.header-social-link svg {
  width: 40px; /* постійно збільшений розмір */
  height: 40px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.header-social-link:hover {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.header-social-link:hover svg path {
  fill: rgb(25 135 84); /* зелена пташка при наведенні */
}
.header-contact-burger {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width:1024px) {
  .header-contact-burger {
    display: none;
  }
}
.header-clock {
  color: var(--text-botton-color);
}
