<section class="contact-form container">
  <div class="contact-form__contacts">
    <h3 class="title">Contacts</h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 10"
      width="200"
      height="10"
    >
      <path
        d="M0,5 Q50,0 100,5 Q150,10 200,5"
        fill="transparent"
        stroke="#4CAF50"
        stroke-width="2"
      />
      <path
        d="M200,5 Q150,0 100,5 Q50,10 0,5"
        fill="transparent"
        stroke="#4CAF50"
        stroke-width="2"
      />
    </svg>
    <div class="contact-form__contacts-info">
      <h6 class="title">Head office</h6>
      <p class="info">Carrer Serra Aitana, 1, 46529 Canet d'en Berenguer, València</p>
    </div>
    <div class="contact-form__contacts-info">
      <h6 class="title">Phone</h6>
      <p class="info">+1 (234) 567 89 00</p>
    </div>
    <div class="contact-form__contacts-info">
      <h6 class="title">E-mail</h6>
<a href="mailto:maletska89@dmail.com?subject=Запитання&body=Добрий день, хочу уточнити...">Напишіть нам</a>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.692023898924!2d-0.2274982252461353!3d39.679141900203014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6015d89babe1d3%3A0x247355556c89bdc3!2sCarrer%20Serra%20Aitana%2C%201%2C%2046529%20Canet%20d&#39;en%20Berenguer%2C%20Val%C3%A8ncia!5e0!3m2!1suk!2ses!4v1748451532511!5m2!1suk!2ses"
      width="250"
      height="150"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="contact-form__form"></div>
</section>
