<div class="modal fade" id="modal-about-us" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-bsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         YourGarden is engaged in a whole range of works related to the maintenance of the garden. We work both with
            private houses, and commercial organizations. Our staff can take care of your garden and/or lawn, from
            picking plants to caring for them. Our landscape designer can implement any of your exterior ideas. Contact
            us and we will help you add some greenery to your life!
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-our-team-previous" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-bsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-our-team-previous1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-bsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>