<section class="need-services container">
    <h3 class="need-services__title">
        Need some gardening services?
    </h3>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10" width="200" height="10">
        <path d="M0,5 Q50,0 100,5 Q150,10 200,5" fill="transparent" stroke="rgb(255, 255, 255)" stroke-width="2" />
        <path d="M200,5 Q150,0 100,5 Q50,10 0,5" fill="transparent" stroke="rgb(255, 255, 255)" stroke-width="2" />
    </svg>
    <p class="need-services__text">Hit the button and fill out the form to get in touch for a free quotation.</p>
    <a class="button" href="#">Order services</a>
</section>