<section id="our-works" class="our-works container">
  <div class="our-works__title">
    <h3 class="title title-color">
      Our <span class="title-accent">works</span>
    </h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 10"
      width="200"
      height="10"
    >
      <path
        d="M0,5 Q50,0 100,5 Q150,10 200,5"
        fill="transparent"
        stroke="#4CAF50"
        stroke-width="2"
      />
      <path
        d="M200,5 Q150,0 100,5 Q50,10 0,5"
        fill="transparent"
        stroke="#4CAF50"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="our-works__caerousel-container">
  <button class="our-work__button our-work__prev-button">❮</button>
  <div class="our-works__carousel-animation">
    <div class="our-works__carousel-cards">
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image1.jpg"
          alt="man and tree"
        />
        <h4 class="our-work__card-title">Tree Trimming</h4>
      </article>
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image2.jpg"
          alt="back of the garden"
        />
        <h4 class="our-work__card-title">Hedges cutting back</h4>
      </article>
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image3.jpg"
          alt="palm"
        />
        <h4 class="our-work__card-title">Palm tree removal</h4>
      </article>
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image4.jpg"
          alt="pink roses"
        />
        <h4 class="our-work__card-title">Roses pruning</h4>
      </article>
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image5.jpg"
          alt="garden"
        />
        <h4 class="our-work__card-title">
          Trimming to industry legal standards
        </h4>
      </article>
      <article class="our-works__carousel-card">
        <img
          class="our-work__card-image"
          src="img/our-work__image6.jpg"
          alt="lawn-mover"
        />
        <h4 class="our-work__card-title">Lawn mowing, leaf sweeping</h4>
      </article>
    </div>
  </div></div>
  <button class="our-work__button our-work__next-button">❯</button>
</section>
