<section id="our-team" class="our-team container">
    <div class="our-team__title-box">
        <h2 class="title">Our <span class="title-accent">Team</span></h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10" width="200" height="10">
            <path d="M0,5 Q50,0 100,5 Q150,10 200,5" fill="transparent" stroke="#4CAF50" stroke-width="2" />
            <path d="M200,5 Q150,0 100,5 Q50,10 0,5" fill="transparent" stroke="#4CAF50" stroke-width="2" />
        </svg>
        <p class="text">We have everything you need to keep your garden in order. Our team includes experienced
            landscape designers,
            landscapers, florists and gardeners with aesthetic sensitivity.</p>
    </div>

    <div class="our-team__list cards">
        <div class="card">
        <img class="image" src="../img/our-team-image1.jpg" alt="old man with hat">
        <div class="info">
            <h4 class="title">Felix Shimmer</h4>
            <h6 class="subtitle">Gardener</h6>
            <p class="text">Felix deals directly with your garden. He cuts trees and bushes, gives them shape, waters
                them on time, fertilizes all the plants.</p>
        </div></div>
                <div class="card-reverse">
        <img class="image" src="../img/our-team-image2.jpg" alt="old man">
        <div class="info">
            <h4 class="title">Alex Jackson</h4>
            <h6 class="subtitle">Lawnmower</h6>
            <p class="text">Alex cares about your lawn. He cleverly controls a lawn mower and puts lawns in order. After
                doing the work, Alex disposes all the mowed grass.</p>
        </div></div>
                <div class="card reverse">
        <img class="image" src="../img/our-team-image3.jpg" alt="btunette">
        <div class="info">
            <h4 class="title">Amanda Watson</h4>
            <h6 class="subtitle">Landscape Designer</h6>
            <p class="text">Amanda is an experienced landscape designer with a sense of beauty. She will help you to
                decide on the style of the garden, to create something unique and incredibly beautiful.</p>
        </div></div>
                <div class="card-reverse reverse">
        <img class="image" src="../img/our-team-image4.jpg" alt="man">
        <div class="info">
            <h4 class="title">John Wilson</h4>
            <h6 class="subtitle">Senior Engineer</h6>
            <p class="text">John is responsible for engineering communications in your garden. He manages irrigation
                systems, automatic fertilizer. It is he who makes the artificial pond in your garden always filled with
                water.</p>
        </div></div>
    </div>
</section>