<section class="our-team-previous container">
    <div class="our-team-previous__box">
    <div class="our-team-previous__image">
        <img src="../img/our-team-previous1.jpg" alt="three woman">
    </div>
    <div class="our-team-previous__info">
        <h3 class="title">Experienced craftsmen</h3>
        <p class="text">Our team consists of landscape designers, gardeners, engineers and other experienced craftsmen
            who can take care of any lawn maintenance works in your garden.</p>
        <a class="button-card" href="#">Read more <span class="button-flash"><svg width="16"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;max-width:100%"
                    xml:space="preserve" height="100%">
                    <polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 " style=""
                        fill="currentColor"></polygon>
                </svg></span></a>
    </div>
    <div class="our-team-previous__image">
        <img src="../img/our-team-previous2.jpg" alt="man and lawn mover">
    </div>
    <div class="our-team-previous__info">
        <h3 class="title">Professional equipment</h3>
        <p class="text">We've got everything needed for for quality maintenance of your garden and local area. We have
            our own plant nursery and greenhouse, lawn mowers, trimmers and all other devices for keeping your garden
            under control.

        </p>
        <a class="button-card" href="#">Read more <span class="button-flash"><svg width="16"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;max-width:100%"
                    xml:space="preserve" height="100%">
                    <polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 " style=""
                        fill="currentColor"></polygon>
                </svg></span></a>
    </div>
    </div>
    <a class="button" href="#">Learn more</a>

</section>