<section id="testimonials" class="testimonials container">
  <div class="testimonials__title-box">
    <h2 class="title">Testimonials</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 10"
      width="200"
      height="10"
    >
      <path
        d="M0,5 Q50,0 100,5 Q150,10 200,5"
        fill="transparent"
        stroke="#ffffff"
        stroke-width="2"
      />
      <path
        d="M200,5 Q150,0 100,5 Q50,10 0,5"
        fill="transparent"
        stroke="#ffffff"
        stroke-width="2"
      />
    </svg>
  </div>
 <div class="testimonials-slide"></div>
</section>
