<section class="testimonials container">
  <div class="testimonials__title-box">
    <h2 class="title">Testimonials</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 10"
      width="200"
      height="10"
    >
      <path
        d="M0,5 Q50,0 100,5 Q150,10 200,5"
        fill="transparent"
        stroke="#ffffff"
        stroke-width="2"
      />
      <path
        d="M200,5 Q150,0 100,5 Q50,10 0,5"
        fill="transparent"
        stroke="#ffffff"
        stroke-width="2"
      />
    </svg>
  </div>

 <div id="testimonials-carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="testimonials__carousel-card">
        <h4 class="testimonials__title">Amy Illians</h4>
    <p class="testimonials__text">
      YourGarden is a great company. It's gardeners have been cutting my
      property for 3 years and there's not a single thing to complain about. The
      owners of this service really care about their business. All craftsmen are
      well-equipped and have a sense of beauty.
    </p></div>
    </div>
    <div class="carousel-item">
        <div class="testimonials__carousel-card">
        <h4 class="testimonials__title">Ross Kirshner</h4>
      <p class="testimonials__text">
        "YourGarden is a great company. It's gardeners have been cutting my
        property for 3 years and there's not a single thing to complain about.
        The owners of this service really care about their business. All
        craftsmen are well-equipped and have a sense of beauty."
      </p>
    </div></div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <!-- <div class="testimonials__card">
    <h4 class="title">Amy Illians</h4>
    <p class="text">
      YourGarden is a great company. It's gardeners have been cutting my
      property for 3 years and there's not a single thing to complain about. The
      owners of this service really care about their business. All craftsmen are
      well-equipped and have a sense of beauty.
    </p>
    <div class="testimonials__card">
      <h4 class="title">Ross Kirshner</h4>
      <p class="text">
        "YourGarden is a great company. It's gardeners have been cutting my
        property for 3 years and there's not a single thing to complain about.
        The owners of this service really care about their business. All
        craftsmen are well-equipped and have a sense of beauty."
      </p>
    </div>
  </div> -->
</section>
